{
  "extends": "airbnb-base",
  "env": {
    "mocha": true,
    "node": true
  },
  "rules": {
    "arrow-body-style": "off",
    "arrow-parens": ["error", "always"],
    "class-methods-use-this": "off",
    "consistent-return": "off",
    "default-case": "off",
    "no-else-return": "off",
    "no-lonely-if": "off",
    "no-param-reassign": ["error", { "props": false }],
    "no-plusplus": ["error", { "allowForLoopAfterthoughts": true }],
    "no-shadow": "off",
    "no-underscore-dangle": "off",
    "padded-blocks": "off",
    "prefer-destructuring": "off"
  }
}
